

.film-item img{
  display: block;
  height: 500px; 
}



.modal-show {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vmax;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.pagination-list{
  margin-bottom: 20px;
  float: center;
  text-align: center;
}



.product-tumb img{
  display: block;
  
  max-width: 100%;
  height: 800px; 
}
.container-detail img{
  display: block;
  
  max-width: 100%;
  height: 600px; 
}



/* .container{
  text-align: center;
    grid-template-columns: 40% 60%;
} */

.product-details{
  padding-bottom: 10px;
  padding-right: 100px;
  margin-right:50px ;
  padding: 48px 50px;

} 
.badge{
  color: #641111;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgb(12, 12, 12);
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    text-align: center
    ;
  }
  
.form-outline{
  width: 600px;
  text-align: center;
}